<script lang="ts">
import MyComponent from "../components/MyComponent.vue";

export default {
  data() {
    return {
      names: [
        "Michel",
        "Jean",
        "Claude",
        "Erika",
        "johnny",
        "Louisa",
        "Helen",
        "Max",
      ],
      colors: [
        "blue",
        "red",
        "blueviolet",
        "chartreuse",
        "chocolate",
        "darkblue",
        "darkmagenta",
        "forestgreen",
      ],
    };
  },
  components: {
    MyComponent,
  },
};
</script>

<template>
  <main>
    <h1>page de test gitlab</h1>
    <h2>hello</h2>
    <h2>Bonjour</h2>
    <h2>Salut</h2>
    <MyComponent :theName="names" :theColors="colors" />
  </main>
</template>
<style>
.fr {
  color:;
}
</style>
