<template>
  <h2>
    Bienvenue
    <span
      @click="switchIndex"
      class="span-h2"
      :style="{ color: currentColor }"
      >{{ theName[currentIndex] }}</span
    >
  </h2>
  <div class="welcome-div" :style="{ 'background-color': currentBg }">
    <p>ton nom c'est {{ theName[currentIndex] }}</p>
  </div>
</template>

<script lang="ts">
export default {
  data() {
    return {
      currentIndex: 0,
      currentColor: "blue",
      currentBg: "yellow",
    };
  },
  props: {
    theName: Array,
    theColors: Array,
  },
  methods: {
    switchIndex() {
      if (this.currentIndex < this.$props.theName.length - 1) {
        console.log("this.currentIndex", this.currentIndex);
        this.currentIndex++;
        this.currentColor = this.$props.theColors[this.currentIndex];
        this.currentBg = this.$props.theColors[this.currentIndex + 1];
      } else {
        return (this.currentIndex = 0);
      }
    },
  },
  created() {
    this.currentColor = this.$props.theColors[0];
  },
};
</script>

<style>
.span-h2 {
  color: red;
  font-weight: 700;
  cursor: pointer;
}
.welcome-div {
  border: 1px solid black;
  border-radius: 8px;
  height: 100px;
  width: 300px;
}
</style>
